<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Verifyprism</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row">
        @*<img src="~/images/verifacts-logo.jpg" />*@
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-2">
            <a href="#">
                <div class="text-center p-3 my-2">
                    <div class="text-black-50 h2 mt-3"><u>VERIFYPRISM LLP</u><br /></div>
                    <small style="font-size:20px;margin-top:-15px;">Stay secured stay successful</small>

                </div>
                @*<img src="~/images/verifacts-logo.jpg" alt="logo" style="width:250px;height:150px;" class="navbar-brand img-thumbnail" />*@
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation" style="background-color:deepskyblue;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav text-center ml-auto">
                    <li class="nav-item">
                        <a href="../Home/Index" class="nav-link"><b>HOME</b></a>
                    </li>
                    <li class="nav-item">
                        <a href="../Home/About" class="nav-link"><b>ABOUT US</b></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b> VERIFICATION</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><b>EMPLOYEE BACKGROUND VERIFICATION</b></a>
                            <a class="dropdown-item" href="#"><b>TENANT VERIFICATION</b></a>
                            <a class="dropdown-item" href="#"><b>GST SUPPLIER VERIFICATION</b></a>
                            <a class="dropdown-item" href="#"><b>VENDOR VERIFICATION</b></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b> VERIFICATION</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><b>HR MANAGEMENT</b></a>
                            <a class="dropdown-item" href="#"><b>HR AUDITS &amp; DIAGNOSTICS</b></a>
                            <a class="dropdown-item" href="#"><b>PAYROLL MANAGEMENT AND STATUTORY COMPLIANCES</b></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="../Home/About" class="nav-link"><b>DUE DILIGENCE</b></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b> ASSET MANAGEMENT</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><b>ASSET MANAGEMENT</b></a>
                            <a class="dropdown-item" href="#"><b>STOCK VERIFICATION</b></a>
                            <a class="dropdown-item" href="#"><b>VERIFICATION OF HOARDING</b></a>
                         </div>
                    </li>

                    <li class="nav-item">
                        <a href="../Home/Contact" class="nav-link"><b>CONTACT US</b></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

        
        <div class="row p-3 my-2  bg-light">
            @RenderBody()
        </div>
        <br /><br /><br />
            <hr />
            <footer>
                <div class="footer-top">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 segment-one">
                            <h2>Quick Menu</h2>
                            <ul>
                                <li><a href="../Home/About" style="color: #b3d9ff;">About Us</a></li>
                                <li><a href="../Home/Contact" style="color: #b3d9ff;">Contact Us</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Clients Speak</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Careers</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Press Releases</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Terms of Use</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Insights</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Privacy Policy</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Our Advantage</a></li>
                            </ul>
                        </div>


                        <div class="col-md-4 col-sm-6 col-xs-12 segment-two">
                            <h2>Follow Us</h2>
                            <i class="fa fa-linkedin-square fa-2x text-white" style="color: #b3d9ff;" aria-hidden="true"></i>
                            <a href="#" target="_blank">

                            </a><br /><br />

                            <a href="#" target="_blank" style="color: #b3d9ff;">
                                <i class="fa fa-youtube-square fa-2x text-white" style="color: #b3d9ff;" aria-hidden="true"></i>
                            </a><br /><br />

                            <a href="#" target="_blank" style="color: #b3d9ff;">
                                <i class="fa fa-twitter-square fa-2x text-white" style="color: #b3d9ff;" aria-hidden="true"></i>
                            </a><br /><br />

                            <a href="#" target="_blank" style="color: #b3d9ff;">
                                <i class="fa fa-rss-square fa-2x text-white" style="color: #b3d9ff;" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 segment-three">
                            <h2>FeedBack</h2>
                            <form class="form-inline" action="/action_page.php" method="post">

                                <input type="text" class="form-control" id="usr" placeholder="Name" name="Name" required style="width:300px;"><br /><br />

                                <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder="Enter email" name="email" required style="width:300px;"><br /><br />

                                <input type="text" class="form-control" id="usr" placeholder="Designation" name="Designation" required style="width:300px;"><br />

                                <button class="btn btn-primary mb-2" style="width:281px; margin-top:20px;">Subscribe</button>
                            </form>
                        </div>
                    </div>
                    <p style="margin-top:7px; color:white; text-align:center;">
                       <b>© Copyright 2018. All Rights Reserved Design By CodeLover Technology Pvt. Ltd.</b>
                    </p>
                </div>
            </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @*@RenderSection("scripts", required: false)*@

</body>
</html>
