<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Verifyprism</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row">
        @*<img src="~/images/verifacts-logo.jpg" />*@
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-2">
            <a href="#">
                <div class="text-center p-3 my-2">
                    <div class="text-black-50 h2 mt-3"><u>VERIFYPRISM LLP</u><br /></div>
                    <small style="font-size:20px;margin-top:-15px;">Stay secured stay successful</small>

                </div>
                @*<img src="~/images/verifacts-logo.jpg" alt="logo" style="width:250px;height:150px;" class="navbar-brand img-thumbnail" />*@
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation" style="background-color:deepskyblue;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav text-center ml-auto">
                    <li class="nav-item">
                        <a href="../Home/Index" class="nav-link"><b>HOME</b></a>
                    </li>
                    <li class="nav-item">
                        <a href="../Home/About" class="nav-link"><b>ABOUT US</b></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b> VERIFICATION</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><b>EMPLOYEE BACKGROUND VERIFICATION</b></a>
                            <a class="dropdown-item" href="#"><b>TENANT VERIFICATION</b></a>
                            <a class="dropdown-item" href="#"><b>GST SUPPLIER VERIFICATION</b></a>
                            <a class="dropdown-item" href="#"><b>VENDOR VERIFICATION</b></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b> HR SERVICES</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><b>HR MANAGEMENT</b></a>
                            <a class="dropdown-item" href="#"><b>HR AUDITS &amp; DIAGNOSTICS</b></a>
                            <a class="dropdown-item" href="#"><b>PAYROLL MANAGEMENT AND STATUTORY COMPLIANCES</b></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="../Home/About" class="nav-link"><b>DUE DILIGENCE</b></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b> ASSET MANAGEMENT</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><b>ASSET MANAGEMENT</b></a>
                            <a class="dropdown-item" href="#"><b>STOCK VERIFICATION</b></a>
                            <a class="dropdown-item" href="#"><b>VERIFICATION OF HOARDING</b></a>
                         </div>
                    </li>

                    <li class="nav-item">
                        <a href="../Home/Contact" class="nav-link"><b>CONTACT US</b></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>       
        <div class="container-fluid p-3 my-2  bg-light">
            @RenderBody()
        </div>
        <div class="row" style="background-color:black;">
            <footer class="container-fluid p-4">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="~/images/verifacts-logo.jpg" class="img-fluid" />
                    </div>
                    <div class="col-md-6 col-sm-12 py-5">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h2 class="bg-primary text-white p-2 rounded">Quick Menu</h2>
                                <ul>
                                    <li><a href="../Home/About" style="color: #b3d9ff;">About Us</a></li>
                                    <li><a href="../Home/Contact" style="color: #b3d9ff;">Contact Us</a></li>
                                    <li><a href="#" style="color: #b3d9ff;">Clients Speak</a></li>
                                    <li><a href="#" style="color: #b3d9ff;">Careers</a></li>
                                    <li><a href="#" style="color: #b3d9ff;">Press Releases</a></li>
                                    <li><a href="#" style="color: #b3d9ff;">Terms of Use</a></li>
                                    <li><a href="#" style="color: #b3d9ff;">Insights</a></li>
                                    <li><a href="#" style="color: #b3d9ff;">Privacy Policy</a></li>
                                    <li><a href="#" style="color: #b3d9ff;">Our Advantage</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h2 class="bg-primary text-white p-2 rounded">Follow Us</h2>

                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-3x text-white" style="color: #b3d9ff;" aria-hidden="true"></i>
                                </a>

                                <a href="#" target="_blank" style="color: #b3d9ff;">
                                    <i class="fa fa-youtube-square fa-3x text-white" style="color: #b3d9ff;" aria-hidden="true"></i>
                                </a>

                                <a href="#" target="_blank" style="color: #b3d9ff;">
                                    <i class="fa fa-twitter-square fa-3x text-white" style="color: #b3d9ff;" aria-hidden="true"></i>
                                </a>

                                <a href="#" target="_blank" style="color: #b3d9ff;">
                                    <i class="fa fa-rss-square fa-3x text-white" style="color: #b3d9ff;" aria-hidden="true"></i>
                                </a>
                                <br />
                                <br />
                                <div class="input-group">
                                    <input type="text" placeholder="Please Enter Email ID For Regular Updates" aria-label="Please Enter Email ID For Regular Updates" title="Please Enter Email ID For Regular Updates" class="form-control" />

                                    @*<input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">*@
                                    <div class="input-group-append">
                                        <span class="input-group-text fa fa-arrow-right btn-primary"></span>
                                     </div>
                                </div>

                            </div>
                            <b class="text-primary">© Copyright 2018. All Rights Reserved Design By CodeLover Technology Pvt. Ltd.</b>
                            
                        </div>
                    </div>
                    </div>
</footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @*@RenderSection("scripts", required: false)*@

</body>
</html>
