<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Verifacts</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:black;">
                <a class="navbar-brand" href="#">
                    <img src="~/images/verifacts-logo.jpg" alt="logo" width="185" height="57" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation" style="background-color:deepskyblue;">
                    <span class="navbar-toggler-icon" style="background-color:deepskyblue;"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav text-center ml-auto">
                        <li class="nav-item">
                            <a href="../Home/Index" class="nav-link" style="color:#b3d9ff;"><b>HOME</b></a>
                        </li>
                        <li class="nav-item">
                            <a href="../Home/About" class="nav-link" style="color:#b3d9ff;"><b>ABOUT US</b></a>
                        </li>
                        <li class="nav-item">
                            <a href="../Home/ForCorporate" class="nav-link" style="color:#b3d9ff;"><b>FOR CORPORATE</b></a>
                        </li>
                        <li class="nav-item">
                            <a href="../Home/ForIndividual" class="nav-link" style="color:#b3d9ff;"><b>FOR INDIVIDUAL</b></a>
                        </li>
                        <li class="nav-item">
                            <a href="../Home/ForCandidate" class="nav-link" style="color:#b3d9ff;"><b>FOR CANDIDATE</b></a>
                        </li>
                        <li class="nav-item">
                            <a href="../Home/Contact" class="nav-link" style="color:#b3d9ff;"><b>CONTACT US</b></a>
                        </li>
                    </ul>
                </div>
</nav>
        </div>
        <div class="container-fluid body-content">
            @RenderBody()<br /><br /><br />
            <hr />
            <footer>
                <div class="footer-top">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 segment-one">
                            <h2>Quick Menu</h2>
                            <ul>
                                <li><a href="#" style="color: #b3d9ff;">Careers</a></li>
                                <li><a href="#" style="color: #b3d9ff;">About Us</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Contact Us</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Clients Speak</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Press Releases</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Terms of Use</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Insights</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Privacy Policy</a></li>
                                <li><a href="#" style="color: #b3d9ff;">Our Advantage</a></li>
                            </ul>
                        </div>


                        <div class="col-md-4 col-sm-6 col-xs-12 segment-two">
                            <h2>Follow Us</h2>
                            <a href="#" target="_blank" style="color: #b3d9ff;">
                                <img class="site-icon" src="https://verifacts.co.in/wp-content/plugins/social-media-icons-widget/icons/medium/facebook.jpg" alt="Facebook" title="Facebook" height="32" width="32"> Facebook
                            </a><br /><br />

                            <a href="#" target="_blank" style="color: #b3d9ff;">
                                <img class="site-icon" src="https://verifacts.co.in/wp-content/plugins/social-media-icons-widget/icons/medium/linkedin.jpg" alt="LinkedIn" title="LinkedIn" height="32" width="32"> LinkedIn
                            </a><br /><br />

                            <a href="#" target="_blank" style="color: #b3d9ff;">
                                <img class="site-icon" src="https://verifacts.co.in/wp-content/plugins/social-media-icons-widget/icons/medium/twitter.jpg" alt="Twitter" title="Twitter" height="32" width="32"> Twitter
                            </a><br /><br />

                            <a href="#" target="_blank" style="color: #b3d9ff;">
                                <img class="site-icon" src="https://verifacts.co.in/wp-content/plugins/social-media-icons-widget/icons/medium/blog.jpg" alt="Blog" title="Blog" height="32" width="32"> Blog
                            </a>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 segment-three">
                            <h2>FeedBack</h2>
                            <form class="form-inline" action="/action_page.php">

                                <input type="text" class="form-control" id="usr" placeholder="Name" name="Name" style="width:300px;"><br /><br />

                                <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder="Enter email" name="email" style="width:300px;"><br /><br />

                                <input type="text" class="form-control" id="usr" placeholder="Designation" name="Designation" style="width:300px;"><br />

                                <button class="btn btn-primary mb-2" style="width:281px; margin-top:20px;">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

</body>
</html>
